<!--Составление смет-->

<div class="container mt-5 mb-5 size-content">
    <div class="card">
        <div class="card-header">
            <h2 class="color-gary">Составление смет</h2>
        </div>
        <div class="card-body">
            <p>Для составления стоимости выполнения работ используем Программный комплекс по расчету смет и процентовок SXW. Программа позволяет рассчитывать сметы и процентовки(акты выполненных работ) ремонтно–строительных, строительно-монтажных и пусконаладочных работ по сборникам НРР -2022,НРР-2017, НРР-2012, РСН-2007, РСН-2001.</p>
            <h5>Вывод на печать и предоставление Заказчику:</h5>
            <li>Акт приемки выполненных работ (Форма C-2, Форма С-2а)</li>
            <li>Справка о стоимости выполненных работ и затрат (Форма C-3)</li>
            <li>Акт приемки выполненных работ при расчете контрактной цены(Форма C-2б, Форма С-2в)</li>
            <li>Справка о стоимости выполненных работ и затрат при расчете контрактной цены (Форма C-3а)</li>
            <li>Форма М-29 (списание материалов)</li>
            <li>Выборка материалов</li>
            <li>Выборка машин и механизмов</li>
            <li>Локальная смета</li>
            <li>Объектная смета</li>
            <li>Сводный сметный расчет</li>
            <li>Дефектный акт (Форма C-1)</li>
            <li>Материалы заказчика</li>
            <li>Оборудование</li>
            <li>Расчет заработной платы</li>
            <li>Расчет эксплуатации машин и механизмов</li>
            <li>Расчет стоимости зимних удорожаний</li>
            <li>Расчет заготовительно-складских расходов</li>
            <li>Индивидуальная ресурсно-сметная норма</li>
            <li>Расчет отклонений стоимости материалов</li>
            <li>Более 30 прочих форм и отчетов</li>
        </div>
    </div>
</div>
