<!--Электрофизические измерения-->

<div class="container mt-5 mb-5 size-content">
    <div class="card">
        <div class="card-header">
            <h2 class="color-gary">Электрофизические измерения (ЭФИ)</h2>
        </div>
        <div class="card-body">
            <p>комплекс мероприятий, который проводится с установленной периодичностью на осматриваемых объектах с целью выявления неполадок и повреждений в электроустановках и оборудовании, а также отклонений от норм, правил и стандартов действующих в Республике Беларусь. Основная цель проведения таких измерений заключается в минимизации рисков возникновения возгораний и несчастных случаев по причине неисправности оборудования.</p>
            <p>Предоставляем протоколы:</p>
            <li>Измерение сопротивления изоляции;</li>
            <li>Измерение сопротивления заземления;</li>
            <li>Испытание цепи «Фаза-нуль»;</li>
            <li>Измерение напряжение прикосновения;</li>
            <li>Устройства защитного отключения (УЗО);</li>
            <li>Проверка цепи заземления;</li>
            <li>Проверка действия автоматических выключателей;</li>
            <br>
            <p>При составлении договоров и формировании цены часто учитываем и услуги по ЭФИ, включая их в стоимость (для уменьшения документооборота). Предоставляем протоколы измерений. Тесно сотрудничаем с аккредитованными лабораториями. Основной компанией в сотрудничестве является <span class="text-bold">ООО «БелСпецСервисСтрой»</span>. Компания на рынке более 10 лет. Имеет огомный опыт в этой сфере.</p>
        </div>
    </div>
</div>
