<!--Электромонтажные работы любой сложности-->

<div class="container mt-5 mb-5 size-content">
    <div class="card">
        <div class="card-header">
            <h2 class="color-gary">Электромонтажные работы любой сложности</h2>
        </div>
        <div class="card-body">
            <p>Работы, которые выполнялись на протяжении профессиональной деятельности.</p>
            <li>электромонтаж наружного, а также внутреннего освещения;</li>
            <li>электромонтажные работы по электроснабжению магазинов, общественных зданий, жилых зданий ,больниц;</li>
            <li>электромонтажные работы по освещению улиц, парков, а также дворов;</li>
            <li>установка щитов учёта, распределения, вводно-распределительных щитов;</li>
            <li>монтаж светильников различной модификации и исполнения;</li>
            <li>монтаж низковольтного силового оборудования, замена ячеек (в т.ч.в действующих подстанциях);</li>
            <li>монтаж трансформаторов силовых;</li>
            <li>монтаж систем заземления, выравнивания потенциалов;</li>
            <li>устройство молниезащиты;</li>
            <li>электромонтажные работы по электроснабжению производственных помещений;</li>
            <li>прокладка кабельных трасс 0,4кВ,10кв;</li>
            <li>монтаж систем контроля и учёта доступа (СКУД);</li>
            <li>монтаж локальной компьютерной сети и телефонии;</li>
            <li>монтаж и сборка телекоммуникационных шкафов;</li>
            <li>монтаж муфт концевых, соединительных на кабели 0,4 кв;</li>
            <li>монтаж (перенос) опор линий электропередач воздушных 0,4;10кВ, монтаж линий электропередач воздушных вт.ч. СИП;</li>
            <li>монтаж систем видеонаблюдения;</li>
            <li>замена всех видов электропроводки в разных по назначению зданиях;</li>
            <li>монтаж электроснабжения складских помещений;</li>
            <li>монтаж электроснабжения офисных помещений.</li>
        </div>
    </div>
</div>
