<!--Оперативно техническое обслуживание-->

<div class="container mt-5 mb-5 size-content">
    <div class="card">
        <div class="card-header">
            <span class="text-bold">Оперативно техническое обслуживание (ОТО)</span>
        </div>
        <div class="card-body">
            <p>При эксплуатации любого действующего объекта необходим подготовленный электро-технический или административно-технический персонал. Не всегда есть смысл держать штат сотрудников и к тому же иметь необходимые средства, оборудование, инструмент в своём хозяйстве. С этой целью можно заключить договор на оперативно-техническое обслуживание. Это решит много вопросов: упростит хозяйственную деятельность, сократит штат, не будет затрат на содержание, поверку необходимых средств защиты и основных (первичных) средств при обслуживании электроустановки, снимутся вопросы касающиеся взаимодействия с энергоснабжающими и надзорными организациями.</p>
            <p>Что мы предлагаем:</p>
            <li>заключение договоров на ОТО с согласованием цены ежемесячного платежа за предоставляемые услуги;</li>
            <li>предоставляем подготовленный, квалифицированный персонал;</li>
            <li>перечень услуг входящих в ОТО;</li>
            <li>своевременное предоставление документации необходимое надзорным органам (газэгнергонадзор, энергосбыт, электрические сети);</li>
            <li>поверенное оборудование, остнастку, инструмент, необходимое для обеспечения бесперебойной работы электроустановки или её ремонта;</li>
            <li>быстрое реагирование на аварийные ситуации, сбои в работе электроустановок.</li>
            <br>
            <p>Каждый объект рассматривается индивидуально. В расчёт стоимости принимается состояние объекта или электроустановок,их количество, удалённость и т.д.</p>
            <p>Среди обслуживаемых объектов: склады, трансформаторные подстанции, жилищные и садовые товарищества, магазины, офисные помещения и др.</p>
        </div>
    </div>
</div>
