<!--Послегарантийное обслуживание и текущий ремонт электроустановок-->

<div class="container mt-5 mb-5 size-content">
<!--    <p>Послегарантийное обслуживание и текущий ремонт электроустановок</p>-->
    <img width="1000" height="500" src={{#url "dev.jpg"}}{{/url}} alt="...">
</div>
