<!--Послегарантийное обслуживание и текущий ремонт электроустановок-->

<div class="container mt-5 mb-5 size-content">
    <div class="card">
        <div class="card-header">
            <span class="text-bold">Послегарантийное обслуживание и текущий ремонт электроустановок</span>
        </div>
        <div class="card-body">
            <p>После окончания гарантийных обязательств (а из-за некачественного применённых материалов и оборудования - ещё раньше) электроустановки и вся система электроснабжения, включая светотехническое оборудование и электроинсталяцию, нуждается в обслуживании: текущий ремонт, планово-предупредительный ремонт, плановый осмотр или ремонт. Это необходимо для предотвращения дальнейшего выхода из строя и предупреждения поломки. Организации, не имеющие в своём штате персонал и соответствующие службы, часто сталкиваются с подобной проблемой. Даже имея персонал не всегда можно справиться «своими силами»,тем более если простой недопустим. К тому же процент износа  некоторых электроустановок довольно высок. А в некотрых случаях электрооборудование исчерпало свои сроки эксплуатации. Бывают случаи когда надзорные органы «посещают» объект и выписывают предписание, которое не проигнорируешь.</p>
            <p>Наша организация оказывает услуги по ремонту, замене вышедших из строя частей, либо самой электроустановки, текущему ремонту электрооборудования, светотехнической арматуры и т.д., исправлению замечаний надзорных органов и многое другое.</p>
            <p>Как правило услуги носят разовый характер. Происходит обследование, рассчитывается стоимость работ, согласовывается стоимость выполнения и сроки, заключается договор.</p>
        </div>
    </div>
</div>
