<!--Помощь в проектировании-->

<div class="container mt-5 mb-5 size-content">
    <div class="card">
        <div class="card-header">
            Помощь в проектировании
        </div>
        <div class="card-body">
            <p>Проектирование можно назвать началом и основой всего цикла работ. Конечно и проектированию предшествует некоторые процедуры (получение технического задания от заказчика, выдача технических условий на электроснабжение и другое),но опустим эти мероприятия поскольку они являются задачей Заказчика. Мы же на стадии всего строитльства придерживаемся  пректа, предлагаем вносить измения в процессе работ, если это необходимо и этого требуют изменившиеся условия работ, либо другие обстоятельства. Часто проект на электроснабжение требует изменений и корректировок. Этому способствуют множество факторов: изменение строительной части, изменение норм и правил  ,предпочтений Заказчика, замена используемого оборудования на блее энергоэконономичное или эффективное,снятие с производства тех или иных модификаций оборудования и т.д. В любом случае все изменения проходят необходимую процедуру: внесение проектной организацией в проект поправок и пересогласование с заинтересованными инстанциями.</p>
            <p>Имеем большой опыт работы с проектами. Сотрудничаем с проектными организациями, бюро, дизайнерами.</p>
            <p>Среди компаний, проекты которых воплотили в жизнь такие как: <span class="text-bold">ООО «ПС-Инжиниринг», ООО  «ЕвроКабикс», ООО «ЛогосПроект», ИП Кукреш А.Н., ИП Винников А.С., ИП Дорошик Г.Е., ИП Хомич И.А., РУП «Институт жилища- НИПТИС им. Атаева С.С.», ЧУП «ОргСтройПроект», ООО «Белспецэнергострой», ЗАО «Универсальные строительные технологии», ИП Никитин Е.В., ИП Карапетян, ООО «ТенгоГрупп», ООО «Априори проект плюс», ООО»СМПРОЕКТ», ООО «СтройГеоИнжиниринг», ООО «Архитектурная строительная компания», ООО «Архитектурное ателье», ООО «ПроектБелорСтрой».</span></p>
        </div>
    </div>
</div>
