<div style="background-color: rgb(200, 200, 200, 0.2)" class="text-center">
    <div class="row align-items-start">
        <div class="col">
            <p><img src="a1.png" width="30" height="30"> <a href="tel:+375335641122">+375 (33) 564 11 22</a></p>
        </div>
        <div class="col">

        </div>
        <div class="col-3" style="text-align: left">
            <p style="margin-bottom: 8px; margin-top: 5px; font-style: italic">Наша работа - залог спокойствия и уюта в вашем доме, на вашем производстве и в вашем бизнесе</p>
        </div>
    </div>
</div>
