<div class="text-center">
    <div class="row align-items-start">
        <div class="col-3 align-self-center mt-2 text-align-right">
            <p><a class="a-custom color-gary" href="tel:+375296802280"><img src={{#url "contact/a1.png"}}{{/url}} width="30" height="30" alt="..."> +375 (29) 680-22-80</a></p>
            <p class="mt--15"><a class="a-custom color-gary" href="tel:+375295579709"><img src={{#url "contact/viber.png"}}{{/url}} width="30" height="30" alt="..."> <img src={{#url "contact/telegram.png"}}{{/url}} width="30" height="30" alt="..."> +375 (29) 557-97-09</a></p>
            <p class="contact-mail"><a class="a-custom color-gary" href="mailto:voltera2015@mail.ru"><img src={{#url "contact/mail.png"}}{{/url}} width="27" height="30" alt="..."> voltera2015@mail.ru</a></p>
        </div>
        <div class="col align-self-center">
            <h1 class="color-gary">ЭЛЕКТРОМОНТАЖНЫЕ РАБОТЫ</h1>
            <span class="color-gary">Рабочий график: Пн. - Вс. с 9:00 - 18:00</span>
        </div>
        <div class="col-3 align-self-center text-align-left mt-8 z-index-3">
            <kbd class="text-left mb-8 mt-5">Наша работа - залог спокойствия и уюта в вашем доме,</kbd>
            <p class="text-left"><kbd class="mb-8 mt-5">на вашем производстве и в вашем бизнесе</kbd></p>
        </div>
    </div>
</div>
