<div style="background-color: rgb(200, 200, 200, 0.2);" class="text-center">
    <div class="row align-items-start">
        <div class="col-3 align-self-center" style="text-align: right">
            <p><a href="tel:+375296802280" style="text-decoration: none; color: gray"><img src="contact/a1.png" width="30" height="30"> +375 (29) 680-22-80</a></p>
            <p style="margin-top: -20px"><a style="text-decoration: none; color: gray" href="tel:+375296802280"><img src="contact/viber.png" width="30" height="30"> <img src="contact/telegram.png" width="30" height="30"> +375 (29) 557-97-09</a></p>
        </div>
        <div class="col align-self-center">
            <span style="color: gray">Рабочий график: Пн. - Вс. с 9:00 - 21:00</span>
        </div>
        <div class="col-3 align-self-center" style="text-align: left; margin-top: 8px; z-index: 2;">
<!--            <p style="margin-bottom: 8px; margin-top: 5px; font-style: italic">Наша работа - залог спокойствия и уюта в вашем доме, на вашем производстве и в вашем бизнесе</p>-->
            <kbd style="margin-bottom: 8px; margin-top: 5px;">Наша работа - залог спокойствия и уюта в вашем доме,</kbd>
            <p><kbd style="margin-bottom: 8px; margin-top: 5px;">на вашем производстве и в вашем бизнесе</kbd></p>
        </div>
    </div>
</div>
