<footer class="bran-color footer text-justify-center" style="height: 40px">
    <p class="pt-2 color-gary">Разработка сайтов любой сложности &nbsp;&nbsp;<a class="a-custom color-gary" href="tel:+375293736990"><img src={{#url "contact/viber.png"}}{{/url}} width="30" height="30" alt="..."> <img src={{#url "contact/telegram.png"}}{{/url}} width="30" height="30" alt="..."> +375 (29) 373-69-90</a></p>
</footer>
