<footer class="bran-color footer text-justify-center" style="height: 40px">
    <p class="pt-2 color-gary">Разработка сайтов &nbsp;
        <a class="a-custom" href="viber://chat?number=%2B375293736990" target="_blank"><img src={{#url "contact/viber.png"}}{{/url}} width="30" height="30" alt="..."></a>
        <a class="a-custom" href="https://t.me/+375293736990" target="_blank"><img src={{#url "contact/telegram.png"}}{{/url}} width="30" height="30" alt="..."></a>
        +375 (29) 373-69-90
    </p>
</footer>
