<nav class="navbar navbar-expand-lg menu bran-color">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img class="logo" src={{#url "logo/logo.png"}}{{/url}} alt="..."/>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        ЮРИДИЧЕСКИМ ЛИЦАМ
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{#url "entity/project"}}{{/url}}">Помощь в проектировании</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{#url "entity/budgeting"}}{{/url}}">Составление смет</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{#url "entity/electric-installation-work"}}{{/url}}">Электромонтажные работы любой сложности </a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{#url "entity/electrophysical-measurements"}}{{/url}}">Электрофизические измерения (ЭФИ)</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{#url "entity/operative-maintenance"}}{{/url}}">Оперативно-техническое обслуживание</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{#url "entity/post-warranty-service"}}{{/url}}">Послегарантийное обслуживание и текущий ремонт электроустановок</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href={{#url "entity/certificates"}}{{/url}}>Сертификаты, свидетельства</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        ФИЗИЧЕСКИМ ЛИЦАМ
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{#url "individual/project"}}{{/url}}">Проектирование</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{#url "individual/electrophysical-measurements"}}{{/url}}">Электрофизические измерения</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{#url "individual/emergency-technical-work"}}{{/url}}">Аварийно-технические работы</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{#url "individual/wiring"}}{{/url}}">Электромонтаж (квартиры, коттеджи)</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{#url "individual/network-connection"}}{{/url}}">Подключение жилых домов к сети электро снабжения</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{#url "individual/accompaniment"}}{{/url}}">Сопровождение</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{#url "object"}}{{/url}}">НАШИ ОБЪЕКТЫ</a>
                </li>
                <li class="nav-item z-index-3">
                    <a class="nav-link" href="{{#url ""}}{{/url}}#commentBlock">ОТЗЫВЫ</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
