<img class="lamp" src="lamp.svg">
<div class="light" id="light"></div>
<div class="filament" id="filament"></div>

<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="carousel/1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h1><kbd>ПОЗАБОТЬТЕСЬ О СВОИХ ЛЮБИМЫХ,</kbd></h1>
                <h1><kbd>А ОБ ОСВЕЩЕНИИ ПОЗАБОТИМСЯ МЫ</kbd></h1>
                <!--                <h5 style="color: rgb(243,110,33); text-shadow: 1px 1px 1px #000;">ПОЗАБОТЬТЕСЬ О СВОИХ ЛЮБИМЫХ, </h5>-->
                <!--                <h5 style="color: rgb(243,110,33); text-shadow: 1px 1px 1px #000;">А ОБ ОСВЕЩЕНИИ ПОЗАБОТИМСЯ МЫ</h5>-->
                <p></p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="carousel/1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="carousel/1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div style="background-color: rgb(200, 200, 200, 0.2)">
    <div class="container pt-2">
        <div class="card border-secondary">
            <h5 class="card-header">О НАС</h5>
            <div class="card-body">
                <p class="card-text">Частное унитарное предприятие по оказанию услуг «ВольтЭра» оказывает услуги в области электромонтажных работ. На рынке услуг находимся с 2008г.</p>
                <p class="card-text">Происходила некоторая реорганизация по мере развития и приобретения опыта. Начинали, как и многие с малого-с частных клиентов, где приобрели первый опыт.</p>
                <p class="card-text">Мы никогда не нуждались в рекламе и рекламой по сути служили наши объекты. Идея создать сайт –больше идея визитной карточки. Здесь Вы не найдёте фото наших работ (проверить что они принадлежат нам наверное сложно и ни к чему). Ограничимся отзывами наших клиентов и организаций с которыми мы на протяжении этого времени сотрудничали и сотрудничаем до сих пор.</p>
                <p class="card-text">Спектр выполняемых работ охватывает как юридических, так и частных лиц. Подробный перечень работ Вы найдёте в соответствующих разделах.</p>
                <p class="card-text">Не ограничиваемся только самими работами: проводим обследования объектов, консультируем, помогаем подобрать лучшие и рациональные решения. При отсутствии проектных решений (а они не всегда нужны) помогаем подобрать оптимальный вариант выполнения работ.</p>
                <p class="card-text">Имеем необходимый штат сотрудников, в лице квалифицированных специалистов, обладающих достаточным опытом для выполнения работ. Работаем современным инструментом и оборудованием. При необходимости работаем в нерабочее время (ночные или вечерние смены).</p>
                <p class="card-text">Всегда предоставляем расчёт стоимости или смету (для юридических лиц). Обладаем всеми необходимыми документами для заключения договоров и участии в тендерах либо переговорах.</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card border-secondary mt-2">
            <h5 class="card-header">Где работаем</h5>
            <div class="card-body">
                <p class="card-text">Мы мобильны, география наших услуг не только Минск, Минский район и область, но и все области Республики Беларусь.</p>
                <p class="card-text">Преимущественно мы работаем с постоянными клиентами, которые имеют филиалы в г. Барановичи, Бобруйск, Могилёв, Фаниполь, Логойск, Борисов, Червень, Воложин.</p>
                <p class="card-text">Знакомы с инфраструктурой и надзорными органами этих городов. Часто являемся представителями при сдаче объекта в эксплуатацию.</p>
            </div>
        </div>

        <div class="card border-secondary mt-2">
            <h5 class="card-header">Наши клиенты</h5>
            <div class="card-body">
                <p class="card-text"></p>
            </div>
        </div>

        <div class="card border-secondary mt-2">
            <h5 class="card-header">Отзывы</h5>
            <div class="card-body">
                <div id="allComment">
                    {{#each emails}}
                        <div style="border: 1px solid gray; border-radius: 8px;box-shadow: 2px 2px 2px 2px rgb(200,200,200); margin-bottom: 10px">
                            <div style="border-bottom: 1px solid silver; border-radius: 8px 8px 0 0; padding-left: 5px; background-color: rgb(248,248,248)">
                                <h3>{{this.dataValues.name}}</h3>
                            </div>
                            <div style="padding-left: 5px">
                                <p>{{this.dataValues.text}}</p>
                            </div>
                            <div style="border-top: 1px solid silver; padding-left: 5px; border-radius: 0 0 8px 8px; background-color: rgb(248,248,248)">
                                {{this.dataValues.updatedAt}}
                            </div>
                        </div>
                    {{/each}}
                </div>

                <div id="selfComment"></div>

                <div>
                    <nav class="mt-3">
                        <ul class="pagination">
                            <li class="page-item disabled">
                                <button class="page-link"> < </button>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active" aria-current="page">
                                <span class="page-link">2</span>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <button class="page-link"> > </button>
                            </li>
                        </ul>
                    </nav>
                </div>


                <div class="card mt-2">
                    <div class="card-header">
                        Ваш отзыв
                    </div>
                    <div class="card-body">
                        <div class="input-group">
                            <textarea id="comment" rows="5" class="form-control" aria-label="With textarea"></textarea>
                        </div>
                        <div class="col-4 pt-2">
                            <div class="input-group">
                                <input type="text" id="commentName" class="form-control" placeholder="Имя" aria-label="Имя" aria-describedby="button-addon2">
                                <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="sendComment()">Отправить</button>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>





