<!--Подключение жилых домов к сети электроснабжения-->

<div class="container mt-5 mb-5 size-content">
<!--    <p>Подключение жилых домов к сети электроснабжения</p>-->
    <img width="800" height="450" src={{#url "dev.jpg"}}{{/url}} alt="...">
</div>
