<!--Подключение жилых домов к сети электро снабжения-->

<div class="container mt-5 mb-5 size-content">
<!--    <p>Подключение жилых домов к сети электро снабжения</p>-->
    <img width="1000" height="500" src={{#url "dev.jpg"}}{{/url}} alt="...">
</div>
