<!--Подключение жилых домов к сети электроснабжения-->

<div class="container mt-5 mb-5 size-content">
    <div class="card">
        <div class="card-header">
            <h2 class="color-gary">Подключение жилых домов к сети электроснабжения</h2>
        </div>
        <div class="card-body">
            <p>Согласно нормативно-технической документации, отслеживание расхода потребленной энергии следует выполнять методом выносного учета.</p>
            <p>Другими словами: подключение коттеджа или дома необходимо производить через прибор учёта электроэнергии, который устанавливается на границе (или за её пределами) участка. Это необходимо для обеспечения свободного доступа к прибору учета при снятии его показаний (сверки, проверки пломбы, схемы подключения) службой энергосбыта или надзора. И к тому же в данном случае практически исключена безучётная схема (мимо счётчика).</p>
            <p>Такие работы необходимы при получении новых технических условий. Их же в свою очередь выдают электросети, в основном, при:</p>
            <li>подключении новых жилых домов;</li>
            <li>изменении мощности или замене 1-фазного ввода на 3-фазный;</li>
            <li>изменении точки подключения;</li>
            <li>при использовании электроэнергии для целей отопления и смене тарифа.</li>
            <br>
            <p>В некоторых случаях электросети и в целом концерн Белэнерго идут на замену и вынос приборов учёта на (за) границу балансовой принадлежности в целях исключения хищения электроэнергии. В данном случае потребителю не о чем беспокоиться –всё сделают без его участия.</p>
            <p>Многие садовые товарищества с этой же целью принимают решения о выносе приборов учёта, т.к. существует немало случаев любителей попользоваться за счёт других электроэнергией. В результате - не сходиться баланс с основным счётчиком, который установлен в подстанции или в вводном распределительном устройстве. Возникает вопрос: раскидывать неуплаченные киловатты между собственниками или оплачивать с местного бюджета товарищества. Правильным решением всё же является вынос учёта жилых домов. Тут процедура проще, да и приборы учёта необязательно должны быть в реестре (их не нужно вносить в проект и согласовывать со сбытом их установку). Поскольку большинство владельцев всё таки добропорядочные граждане, то и решение о выносе приборов их явно не должно пугать.</p>
            <p>Наша компания оказывает услуги, в т.ч. и в частном порядке, по:</p>
            <li>получению технических условий на электроснабжение (ТУ). Эта процедура осуществляется службой электросетей либо местным исполком только с законным представителем, поэтому проще и быстрее получить ТУ самому. Но возможно при составлении доверенности получение сторонним лицом или организацией;</li>
            <li>разработка проекта;</li>
            <li>помощь в выборе материала или его закупка;</li>
            <li>выполнение работ по выносу приборов учёта с индивидуальным подходом к каждому клиенту;</li>
            <li>ЭФИ (электрофизические измерения);</li>
            <li>сдача надзорным органам для получения разрешения к подключению и получение наряда на подключение.</li>
            <br>
            <p>Подключение непосредственно к сети электроснабжение осуществляется электроснабжающей организацией после выдачи наряда. Эта процедура производиться только РЭСом.</p>
            <p>Имеем большой опыт работы с сетями Минского р-на, Острошицкого, Заславского, Червеньского, Смолевического, Воложинского, Логойского и др. сетей Минской обл. Процедура везде одинакова и не пугает удалённость объекта и его сложность. На практике не однажды приходилось переносить опоры (при этом менялась точка подключения) и это тянуло за собой весь процесс описанный выше.</p>
        </div>
    </div>
</div>
