<!--Помощь в проектировании-->

<div class="container mt-5 mb-5 size-content">
    <div class="card">
        <div class="card-header">
            <span class="text-bold">Помощь в проектировании</span>
        </div>
        <div class="card-body">
            <p>Проектирование можно назвать началом и основой всего цикла работ. Конечно и проектированию предшествуют некоторые процедуры (получение технического задания от заказчика, выдача технических условий на электроснабжение и другое), но опустим эти мероприятия поскольку они являются задачей Заказчика. Мы же на стадии всего строительства придерживаемся проекта, предлагаем вносить изменения в процессе работ, если это необходимо и этого требуют изменившиеся условия работ, либо другие обстоятельства. Часто проект на электроснабжение требует изменений и корректировок. Этому способствуют множество факторов: изменение строительной части, изменение норм и правил, предпочтений Заказчика, замена используемого оборудования на более энергоэкономичное или эффективное, снятие с производства тех или иных модификаций оборудования и т.д. В любом случае все изменения проходят необходимую процедуру: внесение проектной организацией в проект поправок и пересогласование с заинтересованными инстанциями.</p>
            <p>При проектировании жилых домов и квартир наиболее востребованы дизайн-проекты. Их же и берём за основу при выполнении работ. Разрабатываем электрические схемы, если нет необходимости в сдаче объекта в эксплуатацию или в полном проекте на электроснабжение. Но также можно изготовить проект. Жилые дома, как правило, в процессе ремонта или строительства требуют изменений, поэтому электрическую схему приходиться делать по факту, что бы избежать частых внесений корректировок.</p>
            <p>Компании, дизайнеры и проектные организации с которыми сотрудничаем: <span class="text-bold">дизайн–студия ONIX, ООО «ПС-Инжиниринг», ООО «ЕвроКабикс», ООО «ЛогосПроект», ИП Кукреш А.Н., ИП Винников А.С., ИП Дорошик Г.Е.,ИП Хомич И.А., РУП «Институт жилища- НИПТИС им. Атаева С.С.», ЧУП «ОргСтройПроект», ООО «Белспецэнергострой», ЗАО «Универсальные строительные технологии», ИП Никитин Е.В., ИП Карапетян, ООО «ТенгоГрупп», ООО «Априори проект плюс», ООО»СМПРОЕКТ», ООО «СтройГеоИнжиниринг», ООО «Архитектурная строительная компания», ООО «Архитектурное ателье», ООО «ПроектБелорСтрой»</span> и другие.</p>
        </div>
    </div>
</div>
