<!--Электромонтажные работы (кратиры, коттеджи)-->

<div class="container mt-5 mb-5 size-content">
    <div class="card">
        <div class="card-header">
            <h2 class="color-gary">Электромонтажные работы (кратиры, коттеджи)</h2>
        </div>
        <div class="card-body">
            <p>Перечень работы, оказываемых физическим лицам: </p>
            <li>электромонтажные работы по электроснабжению квартир, коттеджей;</li>
            <li>электромонтажные работы по освещению дворовых территорий, приусадебных участков;</li>
            <li>установка щитов учёта, распределения, вводно-распределительных щитов;</li>
            <li>монтаж светильников различной модификации и исполнения;</li>
            <li>отыскание повреждений в действующей электропроводке;</li>
            <li>подключение электроплит, электроводонагревателей;</li>
            <li>монтаж контуров заземления, систем выравнивания потенциалов;</li>
            <li>устройство молниезащиты кровель различных видов и выполненных из любого материала;</li>
            <li>перенос, монтаж опор ЛЭП;</li>
            <li>вынос приборов учёта на (за) границу раздела балансовой принадлежности;</li>
            <li>электромонтажные работы по электроснабжению производственных помещений;</li>
            <li>прокладка кабельных трасс 0,4кВ;</li>
            <li>монтаж локальной компьютерной сети и телефонии;</li>
            <li>монтаж и сборка телекоммуникационных шкафов;</li>
            <li>монтаж муфт концевых, соединительных на кабели 0,4 кВ;</li>
            <li>монтаж систем видеонаблюдения;</li>
            <li>замена всех видов электропроводки в разных по назначению зданиях;</li>
            <li>монтаж электроснабжения подсобных помещений;</li>
            <li>монтаж ретро-проводки.</li>
            <br>
            <p>и многое другое.</p>
        </div>
    </div>
</div>
