.navbar .nav-item {
    margin-right: 35px;
    font-weight:600;
}

.menu{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 10px;
}

.logo {
    position: absolute;
    top: -20px;
    z-index: 1;
    width: 300px;
    height: 100px
}

@media (max-width: 1400px) {
    .logo {
        position: static;
        z-index: 1;
    }
}
