.navbar .nav-item {
    margin-right: 35px;
    font-weight:600;
}

.navbar {
    background-color: rgb(243,110,33, 0.2);
    /*background: #fc0; !* Цвет фона *!*/
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    padding: 10px;
}

.navbar-shadow {
    background: #fc0; /* Цвет фона */
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    padding: 10px;
}
