.navbar .nav-item {
    margin-right: 35px;
    font-weight:600;
}

.navbar {
    /*background: rgb(236,235,255);*/
    /*background: linear-gradient(90deg, rgba(236,235,255,1) 0%, rgba(243,110,33,1) 35%, rgba(255,255,255,1) 100%);*/
    background-color: rgb(243,110,33, 0.2);
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    padding: 10px;
}
